
.content{
    display: block;
}
.nav{
    display: block;
    width: 20%;
    float: left;
    margin-left: 20px;
    margin-top: 20px;

    height: -webkit-fill-available;
}
.content{
    margin-top: 20px;

}
body{
    background-color: #DADADA;
}