body{
    margin: 0px;
}
.header{
    color: red;
    background-color: red;
}
.menu{
    width: 100%;
    background-color: #262626;
    padding: 16px;
}

ul.navmenu {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
ul.navmenu li {
    display: inline; /* Отображать как строчный элемент */

}

li a:hover{
    color: black;
    background-color: #737373;
}
li a{
    padding: 20px 15px; /* Поля вокруг текста */
    color: #737373;
    text-decoration: none;

}
.login{
    float: right;
    margin-right: 50px;
}